<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>skills#index</h1>

    <ul>
        <% skills.forEach(function(skill,idx) { %>
          <li>
              <form action="/skills/<%= idx %>?_method=DELETE" class="delete-form" method="POST" autocomplete="off">
                <button type="submit">X</button>
            </form>
            
              <%= skill.level %>
              &mdash;
              <a href="/skills/<%= idx + 1 %>"><%= skill.name%></a>
              &mdash;
            <%= skill.description %>
          </li>
       <%  })  %>
    </ul>

    <a href="/skills/new">Add a new skill</a>
    <!-- <button>Delete a skill</button> -->

</body>
</html>